@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-body: #c4c4c4;
  --bg-text: #181616;
  --bg-blue: #100bf5;
  --bg-light: rgba(16, 11, 245, 0.5);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
body {
  background-color: var(--bg-body);
}
a {
  text-decoration: none;
  color: inherit;
}
code {
  background-color: inherit !important;
  color: crimson !important;
  font-family: inherit !important;
  font-size: 100%;
}
.wave-bg {
  background-image: url("../images/wave.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  animation: roll 8s infinite;
}
@keyframes roll {
  0% {
    background-position: 100% 0%;
  }
  25% {
    background-position: -75% 0%;
  }
  50% {
    background-position: -50% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.wave-2bg {
  background-image: url("../images/wave.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  animation: roll2 8s infinite;
}
@keyframes roll2 {
  0% {
    background-position: -75% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: -50% 0%;
  }
  100% {
    background-position: -75% 0%;
  }
}
.hover-hidden {
  display: none;
}
.hover-hidden h3 {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1.1rem;
}
.hover-hidden .linky {
  font-size: 1.6rem;
  text-decoration: underline;
  font-weight: 600;
}
.carouselImages {
  cursor: pointer;
}
.carouselImages:hover .hover-hidden {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0rem 2rem;
}
.cursor {
  cursor: pointer;
}
.myImg {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.6rem;
}
.list-style-none {
  list-style-type: none;
}
.list-style-none li {
  display: inline;
  margin-right: 1.6rem;
}
.list-style-none li .nav-link {
  opacity: 0.9;
  display: inline;
}
.list-style-none li:last-child {
  margin-right: 0rem;
}
.list-style-none li.active .nav-link {
  opacity: 1;
  color: var(--bg-blue);
  text-decoration: line-through;
}
.form-control,
.form-select {
  background-color: inherit;
  border: 1px solid #888;
}
.form-control:focus,
.form-select:focus {
  border: 1px solid #888;
}
.my-btn {
  background-color: var(--bg-blue);
  color: #fff;
  font-weight: 600;
}
.my-btn:hover {
  background-color: var(--bg-blue);
  color: #fff;
  font-weight: 600;
  opacity: 0.8;
}
.bordered {
  border: 2px solid var(--bg-blue);
  border-radius: 5px;
}
.bg-blue {
  background-color: var(--bg-blue);
}
.bg-blue-light {
  background-color: var(--bg-light);
}
.text-blue {
  color: var(--bg-blue);
}
.text-break {
  white-space: nowrap;
  display: block;
  width: 18rem;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.lh-3 {
  line-height: 1.9rem;
}
.lh-4 {
  line-height: 2.2rem;
}
.lh-2 {
  line-height: 1.7rem !important;
}
.opaq {
  opacity: 0.75;
}
.text-md {
  font-size: 0.87rem;
}
hr.bg-blue {
  background-color: blue;
  border: none;
  height: 2px;
}
.text-underline {
  text-decoration: underline;
}
.position-relative {
  position: relative;
}
.my-rounded {
  border-radius: 8px;
}
.hero-img {
  width: 15rem;
  height: 18rem;
  object-fit: contain;
  position: absolute;
  right: -0.33rem;
  bottom: 0;
  z-index: 999;
  border-radius: 8px;
}
.ceo-img{
  width: 34.05rem;
  height: 43.125rem;
}

.arrows {
  border: 1px solid var(--bg-blue);
  color: var(--bg-blue);
  font-size: 2rem;
  padding: 0.5rem 0.2rem;
  border-radius: 50%;
}
.dots div {
  display: inline-block;
  margin-right: 0.2rem;
  width: 0.8rem;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--bg-light);
}
.dots div.active {
  width: 4px;
  margin-right: 0.4rem;
  border-radius: 50%;
  background-color: var(--bg-blue);
}
.play-div {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.play-btn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--bg-blue);
  top: 100;
  left: 80;
  cursor: pointer;
}
.testimony img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.testimony .message {
  background-color: var(--bg-blue);
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 2rem 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
}
.testimony .message:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid var(--bg-blue);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 0.9rem;
  left: 1.6rem;
}
.testimony .message:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid var(--bg-blue);
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1rem;
  left: 1.6rem;
}
.opaq-1 {
  opacity: 0.9;
}
.tools-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.my-dropdown {
  position: relative;
  display: inline-block;
  z-index: 9999;
}
.my-dropcontent {
  display: none;
  position: absolute;
  left: 0;
  top: 1.2rem;
  background-color: #f1f1f1;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.my-dropcontent.r-5 {
  display: none;
  position: absolute;
  left: -2rem;
  top: 1.58rem;
  background-color: #f1f1f1;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.my-dropcontent .my-dropcontent-link {
  display: block;
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
.my-dropdown:hover .my-dropcontent {
  display: block;
}
.my-dropcontent .my-dropcontent-link:hover {
  background-color: #ddd;
}

.intro-font{
  font-size: 95.57px;
  line-height: 95.57px;
}
.project-maxwidth{
  max-width: 913px;
  padding: 3rem 0 0 0;
}
.project-maxwidth-germany{
  max-width: 1013px;
  padding: 4rem 0 0 0;
}
.project-padding{
  padding: 2.9rem 0rem;
}
.design-img{
  width: 40px;
  height: 40px;
}
.about-image{
  width: 40px;
  height: 40px
}
.about-row{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  gap: 1rem;
  column-gap: 1.5rem;
  align-items: center;
}
.about-image-div{
  height: 60px;
  width: 60px;
padding: 2rem 1rem;
background-color: #251C31;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.ceo-arrow{
  position:absolute;
  top: -59px;
  left: 27%;
}
.ceo_bg{
  background-image: url("../images/ceo_bg.png");
  background-size: cover;
  position: relative;
}
.ceo-icon{
  top: 40%;
  position: absolute;
  transform: translateY(-50%);
}
@media screen and (max-width: 1300px){
  .intro-font{
    font-size: 80.57px;
    line-height: 80.57px;
  }
  .project-maxwidth{
    padding: 3rem 0 0 0;
  }
  .project-maxwidth-germany{
    padding: 3rem 0 0 0;
  }
}

@media screen and (max-width: 1100px){
  .about-row{
   
    grid-template-columns: repeat(6, 1fr);
    
  }
  .project-maxwidth{
    padding: 2.5rem 0 0 0;
  }
  .project-maxwidth-germany{
    padding: 2.5rem 0 0 0;
  }
  .intro-font{
    font-size: 65.57px;
    line-height: 65.57px;
  }
}
@media screen and (max-width: 767px) {
  .about-row{
   
    grid-template-columns: repeat(3, 1fr);
    
  }
  .project-maxwidth{
    padding: 2rem 0 0 0;
  }
  .project-maxwidth-germany{
    padding: 2rem 0 0 0;
  }
  .intro-font{
    font-size: 40.57px;
    line-height: 40.57px;
  }
  .sidebar {
    position: fixed;
    background-color: #fff;
    width: 100%;
    color: #000;
    height: 100%;
    top: -0.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    font-weight: 600;
    display: none;
  }
  .list-style-none {
    width: 100%;
    margin-top: 8rem;
  }
  .list-style-none li {
    display: block;
    margin-right: 0rem !important;
    opacity: 0.8;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    margin-bottom: 2.7rem;
  }
  div.close {
    position: absolute;
    right: 2rem;
    top: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .sidebar.true {
    display: block !important;
  }

  .my-dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
  }
  .my-dropcontent {
    display: none;
    position: relative;
    background-color: inherit;
    max-width: 100%;
    box-shadow: none;
  }
  .my-dropcontent .my-dropcontent-link {
    font-size: 1.1rem;
    display: block;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
  .my-dropdown:hover .my-dropcontent {
    display: block;
  }
  .my-dropcontent .my-dropcontent-link:hover {
    background-color: inherit;
  }
}
@media screen and (max-width: 400px) {
  .intro-font{
    font-size: 36px;
    line-height: 30px;
  }
  .project-maxwidth{
    padding: 1rem 0 0 0;
  }
  .project-maxwidth-germany{
    padding: 1rem 0 0 0;
  }
}
.markdown img {
  width: 90%;
  margin: 1.5rem auto;
  display: block;
}
.markdown p {
  margin-bottom: 2rem;
}
.markdown h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
