@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --bg-body: #c4c4c4;
  --bg-text: #181616;
  --bg-blue: #100bf5;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
body {
  background-color: var(--bg-body);
}
a {
  text-decoration: none;
  color: inherit;
}
.myImg {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.6rem;
}
.list-style-none {
  list-style-type: none;
}
.list-style-none li {
  display: inline;
  margin-right: 1.6rem;
  opacity: 0.7;
}
.list-style-none li:last-child {
  margin-right: 0rem;
}
.list-style-none li.active {
  opacity: 1;
  color: var(--bg-blue);
  text-decoration: line-through;
}
.dropdown {
  background-color: var(--bg-body) !important;
  border-radius: 0px;
}
.form-control,
.form-select {
  background-color: inherit;
  border: 1px solid #888;
}
.form-control:focus,
.form-select:focus {
  border: 1px solid #888;
}
